@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$main-font: 'Spartan', sans-serif;

$primary-color: #303952;
$dark-color: #1f232e;
$summer-time: #f5cd79;
$geranium: #cf6a87;
$lead: #596275;
$warning: #b33939;
$success: #218c74;
$backlight: #f7f1e3;
