@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

$main-font: 'Raleway', sans-serif;

/* light theme */
// $lead: rgb(46, 55, 58);
// $primary-color: rgba(6, 82, 96, 0.9);
// $dark-color: rgb(43, 99, 116);
// $geranium: rgb(204, 197, 156);
// $light-coffee: rgb(203, 191, 178);
// $backlight: rgba(160, 195, 199, 0.495);
// $background: rgb(252, 252, 252);
// $dark-green: rgb(46, 55, 58);
// $green: rgb(140, 160, 137);

/* dark theme */
$lead: rgb(46, 55, 58);
$primary-color: rgb(128, 165, 172);
$secondary-color: rgba(244, 241, 238, 0.9);
$dark-color: rgb(24, 39, 43);
$off-white: rgb(244, 241, 238);
$backlight: rgba(160, 195, 199, 0.735);
$background: rgb(63, 66, 69);
$table: rgb(52, 55, 57);
$form-placeholder: rgb(130, 125, 125);
$form-label: rgb(199, 191, 191);
$warning: #c04b4bd6;
$success: #81cebe;

/* pinks yellows */
$yellow: rgb(197, 147, 75);
$yellow-2: rgb(202, 146, 77);
$rose: rgb(183, 133, 110);
$cream: rgb(203, 191, 178);
$lightrose: rgb(207, 182, 185);
$summer-time: #f5cd79;

/* cactus theme */
$green: rgb(88, 119, 93);
$green-blue: rgb(73, 102, 84);
$light-green: rgb(204, 197, 156);

/* bootstrap presets */

.btn-primary,
.bg-primary,
.alert-primary {
  background-color: $primary-color;
  color: #fff;
}

.btn-light,
.bg-light,
.alert-light {
  background-color: $backlight;
  color: #333;
}

.btn-dark,
.bg-dark,
.alert-dark {
  background-color: $dark-color;
  color: #fff;
}

.btn-danger,
.bg-danger,
.alert-danger {
  background-color: $warning;
  color: #fff;
}

.btn-success,
.bg-success,
.alert-success {
  background-color: $success;
  color: #fff;
}

.btn-white,
.bg-white,
.alert-white {
  background-color: #fff;
  color: #333;
  border: #ccc solid 1px;
}

/* Padding */
.p {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.py {
    padding: 0.5rem 0;
}
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}

/* Margin */
.m {
    margin: 0.5rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 2rem;
}
.m-3 {
    margin: 3rem;
}
.my {
    margin: 0.5rem 0;
}
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2rem 0;
}
.my-3 {
    margin: 3rem 0;
}
.m-1-2 {
    margin: 1rem 2rem;
}
.m-1-3 {
    margin: 1rem 3rem;
}

/* bootstrap texts */

.xl {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
.lg {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
  
.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $off-white;
}
  
.text-center {
    text-align: center;
}
  
.primary-txt {
    color: $off-white;
}
  
.dark-txt {
    color: $dark-color;
}