@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

$main-font: 'Gotu', sans-serif;

// $primary-color: #303952;
// $dark-color: #1f232e;
$summer-time: #f5cd79;
// $geranium: #cf6a87;
// $lead: #596275;
$warning: #b33939;
$success: #218c74;
// $backlight: #f7f1e3;
// $dustyrose: rgba(168, 98, 98, 0.8);
$lead: rgb(46, 55, 58);

$dark-color: rgb(46, 55, 58);
$geranium: rgb(204, 197, 156);
$primary-color: rgb(140, 160, 137);
// $lead: rgb(190, 159, 145);
$light-coffee: rgb(203, 191, 178);
// $backlight: rgb(207, 182, 185);
$backlight: rgb(226, 213, 214);
$light-green: rgb(245, 245, 241);
//greens
$dark-green: rgb(46, 55, 58);
// $light-green: rgb(204, 197, 156);
$green: rgb(140, 160, 137);


// pinks yellows
// $yellow: rgb(197, 147, 75);
// $yellow-2: rgb(202, 146, 77);
// $rose: rgb(183, 133, 110);
$cream: rgb(203, 191, 178);
// $lightrose: rgb(207, 182, 185);
