/* Forms */

.form .form-input {
    margin: 2.6rem 0;
}

.auth-form .form-input {
    margin: 1.2rem 0;
    width: 320px;
}

.form .form-note {
    display: block;
    margin-top: 0.3rem;
    color: #888;
}

.comment-form {
    max-width: 400px;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'] {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    background: none;
}
  
.form select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0.4rem;
}
  
.form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    border-bottom: 0.5px solid #999;
}
  
.form input[type='submit'],
button {
    font: inherit;
}
  
.form .social-input {
    display: flex;
    border-bottom: 1px solid #999;
  
    i {
      margin-bottom: 8px;
      font-size: 1.5rem;
      margin-right: 0.6rem;
      margin-left: 0.4rem;
    }

    .form-element-field {
        margin-bottom: -1rem;
    }
  
    i.fa-twitter {
      color: $form-label;
    }
  
    i.fa-facebook {
      color: $form-label;
    }
  
    i.fa-instagram {
      color: $form-label;
    }
  
    i.fa-youtube {
      color: $form-label;
    }
  
    i.fa-linkedin {
      color: $form-label;
    }
}
  
.form-element {
    position: relative;
}

div.form-element-bar {
    position: relative;
    height: 1px;
    background: #999;
    display: block;
}
  
.form-element-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $primary-color;
    height: 2px;
    display: block;
    transform: rotateY(90deg);
    transition: transform 0.28s ease;
    will-change: transform;
}
  
.form-element-label {
    position: absolute;
    top: 0.75rem;
    line-height: 1.5rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    font-size: 1.2rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: $form-label;
    transform: translateY(-50%);
    transform-origin: left center;
    transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
    will-change: transform, color, opacity;
}
  
.form-element-field {
    outline: none;
    height: 1.8rem;
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border: 0 solid transparent;
    line-height: 1.5;
    width: 100%;
    color: $form-placeholder;
    box-shadow: none;
    opacity: 0.001;
    transition: opacity 0.28s ease;
    will-change: opacity;
}
  
.form-element-field:-ms-input-placeholder {
    color: #a6a6a6;
    transform: scale(0.9);
    transform-origin: left top;
}
  
.form-element-field::placeholder {
    color: #a6a6a6;
    transform: scale(0.9);
    transform-origin: left top;
}
  
.form-element-field:focus ~ .form-element-bar::after {
    transform: rotateY(0deg);
}
  
.form-element-field:focus ~ .form-element-label {
    color: $dark-color;
}
  
.form-element-field.-hasvalue,
.form-element-field:focus {
    opacity: 1;
}
  
.form-element-field.-hasvalue ~ .form-element-label,
.form-element-field:focus ~ .form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
}
  
input.form-element-field:not(:placeholder-shown),
textarea.form-element-field:not(:placeholder-shown) {
    opacity: 1;
}
  
input.form-element-field:not(:placeholder-shown) ~ .form-element-label,
textarea.form-element-field:not(:placeholder-shown) ~ .form-element-label {
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
}
  
textarea.form-element-field {
    height: auto;
    min-height: 3rem;
}
  
select.form-element-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
  
.form-select-placeholder {
    color: #a6a6a6;
    display: none;
}
  
.form-select .form-element-bar::before {
    content: "";
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    display: block;
    right: 0.5em;
    bottom: 0;
    transition: transform 0.28s ease;
    transform: translateY(-100%) rotateX(0deg) rotate(45deg);
    will-change: transform;
}
  
.form-select select:focus ~ .form-element-bar::before {
    transform: translateY(-50%) rotateX(180deg) rotate(45deg);
}
  
.form-element-field[type="number"] {
    -moz-appearance: textfield;
}
  
.form-element-field[type="number"]::-webkit-outer-spin-button,
.form-element-field[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
  
  // form buttons
  
.form-btn,
.form-btn-cancel {
    // background: transparent;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px 24px;
    margin-top: 2.25rem;
    position: relative;
    z-index: 0;
    transition: transform 0.28s ease;
    will-change: transform;
}
  
.form-btn::before,
.form-btn::after,
.form-btn-cancel::before,
.form-btn-cancel::after {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
}
  
.form-btn::before,
.form-btn-cancel::before {
    background: $dark-color;
    z-index: -2;
}
  
.form-btn::after,
.form-btn-cancel::after {
    background: #000;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.28s ease;
    will-change: opacity;
}
  
.form-btn:focus,
.form-btn-cancel:focus {
    outline: none;
}
  
.form-btn:focus::after,
.form-btn:hover::after,
.form-btn-cancel:focus::after,
.form-btn-cancel:hover::after {
    opacity: 0.3;
}
  
.form-btn:active,
.form-btn-cancel:active {
    transform: translateY(1px);
}
  
.form-btn-cancel {
    transition: color 0.28s ease, transform 0.28s ease;
    color: $warning;
    border-color: currentColor;
    will-change: color, transform;
}
  
.form-btn-cancel.-nooutline {
    border-color: transparent;
}
  
.form-btn-cancel::before {
    background: $warning;
    opacity: 0;
    transition: opacity 0.28s ease;
    will-change: opacity;
}
  
.form-btn-cancel::after {
    display: none;
}
  
.form-btn-cancel:focus,
.form-btn-cancel:hover {
    color: #fff;
}
  
.form-btn-cancel:focus::before,
.form-btn-cancel:hover::before {
    opacity: 1;
}
  
.form-actions {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2.25rem;
}
  
.form-actions .form-btn-cancel {
    -ms-flex-order: -1;
    order: -1;
}
  
.form-actions::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #999;
    opacity: 0.3;
}
  
.form-actions > * {
    -ms-flex: 1;
    flex: 1;
    margin-top: 0;
}
  
.social-media {
    margin: 2rem 0;
    margin-right: 0.2rem;
}
  
.profile-form {
    margin: 0 10rem;
}

.post-form {
    border: 1px dotted $primary-color;
    border-top: none;
    padding: 2rem;
  
    .post-form-header {
      background: $off-white;
      padding: 0.5rem;
    }

    .form-element-label {
        margin-top: 1.6rem;
    }

    input {
        margin-top: 1rem;
    }
  }