@import 'config';
@import 'mobile';
@import 'forms';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root, #root > div {
  height: 100%
}

#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  margin-top: 0;
}

body {
  font-family: $main-font;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $background;
  color: #333;
  height: 100%;
}

a {
  color: $primary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
    width: 100%;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 10%;
  top: 0;
  background-color: $primary-color;
  border-bottom: solid 1px var($primary-color);
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: var($primary-color);

    }
  }

  .welcome span {
    margin-right: 0.6rem;
  }  
}

  
// Landing Page

.landing {
  position: relative;
  background: url('../img/dark.jpg') no-repeat center center/cover;
  height: 100vh;
}
  
.inside-landing {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Overlay */
.overlay {
  background-color: rgba(155, 155, 155, 0.543);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dashboard-header {
  border-bottom: 1px dotted $off-white;
}

.dashboard {
  margin: 1rem;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: scroll;
  padding: 0 2rem;
  margin-top: 10%;
  margin-bottom: 3rem;
  }

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  align-self: center;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;

  .form input[type='submit'] {
    width: 320px;
  }
}

.delete-account {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.btn {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.3s ease-in;
  outline: none;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  color: #333;
}

.bg-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Tables */

.table {
  width: 100%;
  color: $off-white;
  // border: 1px dotted $off-white;
  padding: 1rem;
  background-color: $secondary-color;
}

th {
  border-bottom: 1px solid $off-white;
  font-size: 1.6rem;
  // border-radius: 8px;
}

.table th,
.table td {
  width: 25%;
  padding: 0.6rem 0.8rem;
  text-align: left;

  button.btn.btn-delete {
    background-color: none;
  }
}

.table th {
  // background: $table;
  // border-radius: 8px;
}

.btn-delete {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  width: 100%;
  border: 1px solid rgb(196, 194, 194);
  transition: background-color 0.3s ease-in;
  
  &:hover {
    background-color: $warning;
    border: $warning;
  }
}

td i {
  color: $warning;
  font-size: 1.4rem;
}


/* Profile Page */

.profiles {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.bio {
  margin: 1rem;
}

.profile {
  display: grid;
  padding: 1.4rem;
  text-align: center;
  height: 420px;
  overflow: scroll;
  padding-bottom: 1rem;
  margin: 0.4rem;
  border-radius: 18px;

  a {
    width: 100%;
    margin-bottom: 8px;
  }
}

.button-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-grid {
  display: grid;
  grid-template-areas:
    'top about'
    'edu exp'
    'github github';
  grid-gap: 1rem;
}

.profile-header {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  background: url('../img/yellow.jpg') no-repeat center center/cover;

  img {
    grid-area: img;
    width: 250px;
  }

  .icons a {
    color: #fff;
    margin: 0 0.3rem;

    &:hover {
      color: $table;
    }
  }
}

.profile-about {
  grid-area: about;
  text-align: center;

  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.profile-exp {
  grid-area: exp;

  div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted;
  }

  h2 {
    margin-bottom: 1.1rem;
  }

  div:last-child {
    border: 0;
  }

  p {
    margin: 0.5rem 0;
  }
}

.profile-edu {
  grid-area: edu;

  div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted;
  }

  h2 {
    margin-bottom: 1rem;
  }

  div:last-child {
    border: 0;
  }

  p {
    margin: 0.5rem 0;
  }
}

.profile-github {
  grid-area: github;

  .repo {
    display: flex;
    border-radius: 28px;
  }

  div:first-child {
    flex: 7;
    flex-basis: 70%;
  }

  div:last-child {
    flex: 3;
    flex-basis: 20%;
  }
}

/* Posts Page */

.post-header {
  padding: 1rem 0 0 2rem;
}

.posts {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-self: center;
}

.post {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  width: 100%;
  max-height: 420px;
  overflow: scroll;
  border-radius: 18px;
  text-align: center;

  img {
    width: 120px;
  }

  div:first-child {
    text-align: center;
  }

  .comment-count {
    color: $background;
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  .post-date {
    color: rgb(111, 110, 110);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}

.comment {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  color: $off-white;

  div:first-child {
    text-align: center;
  }
  
  img {
    width: 140px;
  }
}

.single-post {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

footer {
  background: $primary-color;
  padding: 6px;
  justify-content: center;

  p {
    margin: 0.6rem;
    color: $off-white;
    text-align: center;
    // padding-right: 8px;
  }
}